.a {
    fill: #f2f4f5;
}

.b {
    fill: #e3e5e5;
}

.c {
    fill: #cdcfd0;
}

.d,
.j,
.k,
.l {
    fill: #b4b6b8;
}

.e {
    fill: #464a4c;
}

.f {
    fill: #7a7e7f;
}

.g {
    fill: #979697;
}

.h,
.i {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.h {
    stroke: #f1f1f2;
    stroke-width: 2px;
}

.i {
    stroke: #b4b6b8;
}

.j {
    font-size: 29px;
}

.j,
.k,
.l {
    font-family: Nunito-ExtraBold, Nunito;
    font-weight: 800;
}

.k {
    font-size: 22px;
}

.l {
    font-size: 18px;
}